.nav-ul li {
  display: inline-block;
  padding: 10px;
}

.nav-ul li a {
  color: #fff;
  padding: 5px;
  text-decoration: none;
}
.logo{
  width: 50px;
  float: left;
  border-radius: 50%;
  margin-top: 3px;
  margin-left: 20px;
  border: 3px solid rgb(0, 254, 241);
  background-image: linear-gradient(rgb(218, 148, 148), rgb(0, 255, 170), rgb(32, 87, 32));
  
}

.nav-ul{
  padding: 5px;
  margin: 0;
  background-color: skyblue;
}
.nav-right{
  text-align: right;
}

.footer{
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: skyblue;
}

.inputBox{
  display: block;
  margin: 25px;
  padding: 7px;
  width: 300px;
  border: 1px solid skyblue;
}

.register, .product{
  margin-left: 30%;
}

.appButton{
  margin: 25px;
  padding: 10px;
  width: 150px;
  background-color: skyblue;
  border: 1px solid;
  cursor: pointer;
}

.invalid-input{
  color: red;
  margin-top: -25px;
  display: block;
  margin-left: 25px;
}

.login{
  margin-left: 30%;
  margin-top: 100px;
}

.product-list{
  text-align: center;
  margin-top: 50px;
}

.product-list ul li{
  display: inline-block;
  border: 1px solid skyblue;
  padding: 5px;
  width: 150px;
}

.product-list ul{
  margin: 0;
}
.search-product-box{
  width: 400px;
  margin: 20px;
  height: 40px;
  border: 1px solid skyblue;
  padding-left: 20px;
  border-radius: 5px;
}